#page-wrapper-main-body-content-more-info{
  border: 1.4px solid rgba($black,0.1);
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  .page-wrapper-main-body-content-more-info-item{
    flex: 1 0 divide(100%,6);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 8px;
    border-left: 1.4px solid rgba($black,0.1);
    height: 100%;
    &:first-child{
      border-left: none;
    }
    &#{'-icon'}{
      margin-right: 16px;
      svg{
        width: 48px;
        height: 48px;
        fill: $primary;
      }
    }
    &#{'-text'}{
      text-align: center;
      h6{
        margin: 0;
        padding: 0;
        font-weight: 600;
      }
      p{
        margin: 0;
        padding: 0;
      }
    }
  }
}



@include small-phone{
  #page-wrapper-main-body-content-more-info{
    .page-wrapper-main-body-content-more-info-item{
      flex: 1 0 divide(100%,2);
      padding: 18px 12px;
      border-bottom: 1.4px solid rgba($black,0.1);
      &:last-child{
        border-bottom: none;
      }
      &#{'-icon'}{
        margin-right: 8px;
        svg{
          width: 42px;
          height: 42px;
        }
      }
      &#{'-text'}{
        h6{
          font-size: 0.94rem;
        }
        p{
          font-size: 0.84rem;
        }
      }
    }
  }
}

@include phone{
  #page-wrapper-main-body-content-more-info{
    .page-wrapper-main-body-content-more-info-item{
      flex: 1 0 divide(100%,3);
      padding: 24px 14px;
      border-bottom: 1.4px solid rgba($black,0.1);
      &:last-child{
        border-bottom: none;
      }
      &#{'-icon'}{
        margin-right: 8px;
        svg{
          width: 48px;
          height: 48px;
        }
      }
      &#{'-text'}{
        h6{
          font-size: 0.98rem;
        }
        p{
          font-size: 0.86rem;
        }
      }
    }
  }
}

@include tablet{
  #page-wrapper-main-body-content-more-info{
    .page-wrapper-main-body-content-more-info-item{
      flex: 1 0 divide(100%,3);
      padding: 24px 14px;
      border-bottom: 1.4px solid rgba($black,0.1);
      &:last-child{
        border-bottom: none;
      }
      &#{'-icon'}{
        margin-right: 8px;
        svg{
          width: 48px;
          height: 48px;
        }
      }
      &#{'-text'}{
        h6{
          font-size: 0.98rem;
        }
        p{
          font-size: 0.86rem;
        }
      }
    }
  }
}

@include desktop{
  #page-wrapper-main-body-content-more-info{
    .page-wrapper-main-body-content-more-info-item{
      flex: 1 0 divide(100%,3);
      padding: 28px 16px;
      border-bottom: 1.4px solid rgba($black,0.1);
      &:last-child{
        border-bottom: none;
      }
    }
  }
}

@include large-desktop{
  #page-wrapper-main-body-content-more-info{
    .page-wrapper-main-body-content-more-info-item{
      &#{'-icon'}{
        margin-right: 8px;
        svg{
          width: 42px;
          height: 42px;
        }
      }
      &#{'-text'}{
        h6{
          font-size: 0.95rem;
        }
        p{
          font-size: 0.84rem;
        }
      }
    }
  }
}
